# VIM
**.swp
**.swo
**.un~

**.o
**.a
**.out

# Cmake
**/CMakeFiles/*
**/cmake-build-debug/*
**/CMakeCache.txt
**/cmake_install.cmake

# Make
**/Makefile

# Vagrant
.vagrant/*
Vagrantfile

# Ctags
tags

# Clion
.idea*
.idea/*
