dist: trusty
sudo: false
language: cpp
script:
- cmake .
- make
notifications:
  slack:
    on_success: never
    on_failure: always
    secure: Ilc9AsPgszaiMzfHGvbF2k21ecdkY0eHsHM0oD5nR+xo6M+fjh436zAlimRQonsNBlNmxsBHgGT+GRtmKuzxSM73mWzhskyNrXIiD6z6o+mJ2s8dCGGDhfNPbDfraAGMUNPGvStDdNeasKENC//NYTCUsnYnVkaJMOC7F6gbmsJ6TDDPWyFOdtxEGRkcd63lhfSziWSh59iyppl1x3noGZoegPeL24mL+r2eqvHA5dz5TRsd8fpzUfYucvmDrHZ+r8jeDX7NZw/9EK2UnMDclBbzM4LTXlRFHUs5LlDmaZ7ajFPUqBW5RVzFASvXdL0aMidz0IYEzMA/vLrXGOCh/mneu3dEHls9NV/w/83FS39jjEALp6zyyQ5ZdpepPcA6lROfm5vZj378BvQXTBm4Yw2m0cMhKjvuBUr2izvTAvHBlp/z7csHFsvWzeWwZoA0LIjrxiKuFQoPoZv/qTbZ4BNyWg5iShcN7egtit7uoA5e3HAsvrXJ1orMhdppiKLt7t+5clQI3mSfvfDmBRIYrUxI00/kF/GDbW6nzvdzt2TxN0w53pZ7YAStb9jNFm2B2sScihGnLuP909SUQFNB494FUnHhl/Z6/Bl0bXIwTk3wDR33JMAQgIWUPlvhGQZ9haHCG3pg/ZkuKMCZn8Yk0veY7yU+bQ+CReFeTfPNMqc=
